<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>704272253773-ljg3v4kbl9mv6egjmvge6682nhnsibmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704272253773-ljg3v4kbl9mv6egjmvge6682nhnsibmb</string>
	<key>API_KEY</key>
	<string>AIzaSyCIDaotPWHxCs68-kcoYF99Zq9n3BosCOM</string>
	<key>GCM_SENDER_ID</key>
	<string>704272253773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myCompany.Wait-Times</string>
	<key>PROJECT_ID</key>
	<string>time-crunch-e109e</string>
	<key>STORAGE_BUCKET</key>
	<string>time-crunch-e109e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704272253773:ios:269aa77c1784430b</string>
	<key>DATABASE_URL</key>
	<string>https://time-crunch-e109e.firebaseio.com</string>
</dict>
</plist>